<!DOCTYPE html>
<html lang="en">

<head>
{% include head.html %}
<link rel="shortcut icon" href="/favicon.ico">
<link rel="stylesheet" href="{{root_url}}/assets/libs/css/security.css">
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DVMTFH4DJK"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DVMTFH4DJK');
</script>

<style>
body::-webkit-scrollbar{
  width: 20px;
}
body::-webkit-scrollbar-thumb{
  background-color: #ffc3007d !important;
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}
</style>

<body>
    
    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

{% include Scroll_to_Top.html %}

<script>
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
    }
</script>

</body>

</html>
