---
layout: default
---

<!-- Page Header -->
<!-- <header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}'); overflow: hidden;margin: 0px auto; position: relative;"> -->
<header class="intro-header" style=" overflow: hidden; margin: 0px auto; position: relative;">
    <!-- CSS 동영상 추가 -->
    <div style="position: absolute; top: 0%; width: 100%; z-index:0; opacity:0.7;">
        <video muted autoplay loop=""
        poster="{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}"
        style="height: 100%; filter:britness(10%);">
            <source src="{{ site.baseurl }}/{% if page.header-video %}{{ page.header-video }}{% else %}{{ site.header-video }}{% endif %}" type="video/mp4">
            <!-- <source src="../assets/video/metrix-binery.mp4" type="video/mp4"> -->
        </video>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<hr>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{{ content }}
		</div>
	</div>
</div>

<br>

